<h1>Create a recipe</h1>

<form action="/create_recipe" method="post">
  Recipe name* :<br>
  <input type="text" name="name" size="50" required><br>
  Recipe description :<br>
  <textarea name="description" rows="10" cols="50" placeholder="Write a short description of your recipe"></textarea><br>
  Preparation time :<br>
  <input type="text" name="prep_time" size="50"><br>
  Difficulty :<br>
  <input type="text" name="difficulty" size="50"><br>
  <br>
  <input type="submit" value="Submit">
</form>
<a href="/">Go Back</a>
