<%= Time.now %>
<p>
  I'm in a <em>view</em>!
</p>
<ul>
  <% [ 'Papillard', 'ssaunier' ].each do |username| %>
    <li>
      <%= username %>
    </li>
  <% end %>
</ul>
<% @usernames.each do |username| %>
  <li>
    <%= username %>
  </li>
<% end %>
